<!DOCTYPE html>
<html>
<head>
    <title>Rejestracja</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    
    <h1>Rejestracja</h1>
    <form action="/add_user" method="POST">
        <div class="ostrzezenie">
            {% block content %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}
        </div>
        <br>
        <label for="name">Login:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="password">Hasło:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <br>
        <input type="submit" value="Zarejestruj">
        <a href="/"><input type="button" value="Powrót"></a>
    </form>
</body>
</html>